<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.academica">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Academica">
        <activity android:name=".AdminAttendanceActivity"></activity>
        <activity android:name=".Admin.AdminProfileUpdateActivity" />
        <activity android:name=".Teacher.TeacherProfileUpdateActivity" />
        <activity android:name=".Admin.AdminProfileActivity" />
        <activity android:name=".Teacher.TeacherProfileActivity" />
        <activity android:name=".Admin.AdminUpdateSessionSubjectActivity" />
        <activity android:name=".Admin.AdminUpdateSessionStudentActivity" />
        <activity android:name=".Admin.AdminCreateSessionSubjectActivity" />
        <activity android:name=".Admin.AdminCreateSessionStudentActivity" />
        <activity android:name=".Admin.AdminHomeActivity" />
        <activity android:name=".Teacher.TeacherHomeActivity" />
        <activity android:name=".Student.StudentProfileUpdateActivity" />
        <activity android:name=".Student.StudentProfileActivity" />
        <activity android:name=".Login" />
        <activity android:name=".Student.StudentAttendanceActivity" />
        <activity android:name=".Student.StudentHomeActivity" />
        <activity android:name=".Registration.RegistrationActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>